<body class="js-preload-me">

	<!--[if lt IE 8]>
	    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
	<!-- Preloader: uncomment this if you want to show a smooth preloader while the page is loading. Don't forget to add the 'js-preload-me' class on the <body> tag. -->
	<!-- <div class="preloader js-preloader"><div class="preloader-animation"></div></div>
 -->
	<!-- End of Preloader -->
	<div class="page js-page ">
		<!-- One Page Sidebar -->
		<div class="one-page-sidebar">
			<!-- One Page Sidebar Header -->
			<div class="one-page-sidebar-header">
				<!-- One Page Logo -->
				<div class="one-page-logo">
					<!-- Logo Image -->
					<a href="index.html" class="logo-image ">
						<img src="../img/logos/logo-text.png" alt="logo">
					</a>
					<!-- End of Logo Image -->
				</div>
				<!-- End of One Page Logo -->
				<!-- One Page Meta -->
				<div class="one-page-meta">
					<ul class="one-page-meta-list">
						<li>
							<a href="#">
								<i class="one-page-meta-list-icon fa fa-link"></i>Website</a>
						</li>
						<li>
							<a href="#">
								<i class="one-page-meta-list-icon fa fa-github-alt"></i>GitHub : @Kelompok_6</a>
						</li>

					</ul>
				</div>
				<!-- End of One Page Meta -->
			</div>
			<!-- End of One Page Sidebar Header -->
			<!-- One Page Nav -->
			<div class="one-page-nav-wrapper js-custom-scrollbar">
				<ul class="one-page-nav js-one-page-nav js-menu-vertical" data-prepend-to=".js-prepend-mobile-menu">
					<li class="is-active">
						<a href="#content" class="">
							<span class="one-page-nav-icon">
								<i class="fa fa-folder"></i>
							</span>/book</a>
					</li>
					<% list.forEach(function(lists, index) { %>
					<li class="">
						<a href="#download-source" class="">
							<span class="one-page-nav-icon">
								<% if (lists.http_method == "GET") { %>
							</span><span style="color:green"> <%= lists.http_method %></span>&nbsp;&nbsp;&nbsp;<%= lists.url %></a>
								<% } %>
								<% if (lists.http_method == "POST") { %>
							</span><span style="color:blue"> <%= lists.http_method %></span>&nbsp;&nbsp;&nbsp;<%= lists.url %></a>
								<% } %>
								<% if (lists.http_method == "DELETE") { %>
							</span><span style="color:red"> <%= lists.http_method %></span>&nbsp;&nbsp;&nbsp;<%= lists.url %></a>
								<% } %>
								<% if (lists.http_method == "PUT") { %>
							</span><span style="color:orange"> <%= lists.http_method %></span>&nbsp;&nbsp;&nbsp;<%= lists.url %></a>
								<% } %>
					</li>
				<% }); %>

				<li class="is-active">
					<a href="#content" class="">
						<span class="one-page-nav-icon">
							<i class="fa fa-folder"></i>
						</span>/order</a>
				</li>
				</ul>
			</div>
			<!-- End of One Page Nav -->
			<!-- One Page Sidebar Footer -->
			<footer class="one-page-sidebar-footer">
				<a href="http://vsart.me">VSArt </a>,Page Rendered In 0,01second </footer>
			<!-- End of One Page Sidebar Footer -->
		</div>
		<!-- End of One Page Sidebar -->
		<!-- One Page Content -->
		<div class="one-page-content">
			<!-- Header -->
			<header class="header large header-one-page ">
				<div class="container-fluid container-spaced">
					<div class="row">
						<div class="col-md-3 col-sm-6 col-xs-5">
							<div class="visible-sm-block visible-xs-block">
								<!-- Logo Image -->
								<a href="index.html" class="logo-image logo-animated">
									<img src="img/logos/logo.png" alt="logo">
								</a>
								<!-- End of Logo Image -->
							</div>
						</div>
						<div class="col-md-9 col-sm-6 col-xs-7">
							<!-- Menu -->
							<nav class="right helper">
								<ul class="menu sf-menu js-menu">


									<li>
										<a href="changelog.html">Home</a>
									</li>
									<li>
										<a href="contacts.html">About BacaAtuh</a>
									</li>
									<li>
										<a href="contacts.html">API</a>
									</li>
									<li>
										<a href="contacts.html">Logout</a>
									</li>
								</ul>
							</nav>
							<!-- End of Menu -->
						</div>
					</div>
				</div>
			</header>
			<!-- End of Header -->
			<div id="content">
				<div class="container-fluid container-spaced">
					<div class="row">
						<div class="col-md-12">
							<div class="js-prepend-mobile-menu">
								<!-- The mobile menu will be prepended here -->
							</div>
							<div class="row">
