<%- include('../partials/backend/head') -%>
<%- include('../partials/backend/body') -%>

  </div>	<div class="col-md-12">
							<div class="main-content">
								<!-- Category Info -->
                  <% api.forEach(function(title, index) { %>
								<div class="category-info helper pt0" id="list-view">
									<h3 class="category-title"> <%= title.url %>
										<!-- Fragment Identifier -->

										<a class="fragment-identifier  primary" style="width:75px" href="#list-view">
                      <span style="color:green"><%= title.http_method %></span>
										</a>

										<!-- End of Fragment Identifier -->
									</h3>
									<h4 class="category-description"><%= title.description %></h4>
								</div>
                  <%  }); %>
								<!-- End of Caregory Info -->
								<!-- List View -->

                      <!-- End of Caregory Info -->
          <div class="row">
            <div class="col-md-6">
              <!-- Info -->
              <div class="info js-info">
                <h3 class="info-title" style="background:rgb(231, 233, 237)"><span style="color:black">Request Parameters</span></h3>
                <ul class="info-content">

                  <% apix.forEach(function(api, index) { %>
                  <li class="info-content-item">
                    <p class="info-content-item-title" style="color:green"><%= api.name %>:<span style="color:blue"><%= api.data_type %></span><span style="color:black"></h4><i class="info-content-item-text">: Required</i>
                    <p class="info-content-item-text"><%= api.description %></p>
                  </li>
                  <% }); %>

                </ul>
              </div>
              <!-- End of Info -->
            </div>
                  <% apix.forEach(function(api, index) { %>
                  <form action="<%= api.input.action_form %>" method="get">
<%                 }); %>

                  <div class="col-md-6">
                  <% apix.forEach(function(api, index) { %>

                  <input type="<%= api.input.type %>" name="<%= api.input.name %>" placeholder="<%= api.input.name %>" class="form-control">
                  <br>


                <% }); %>
                <input type="Submit" value="Send Request" style="width:100%" class="button primary">

                <div>



<%- include('../partials/backend/footer') -%>
