<%- include('../partials/backend/head') -%>
<%- include('../partials/backend/body') -%>

<div class="widget">
                <h3 class="widget-title">Tags</h3>
                <!-- Tags -->
                <ul class="tags">
                  <li class="tag-item">
                    <a href="#">get</a>
                  </li>
                  <li class="tag-item">
                    <a href="#">post</a>
                  </li>
                  <li class="tag-item">
                    <a href="#">put</a>
                  </li>
                  <li class="tag-item">
                    <a href="#">delete</a>
                  </li>
                  <li class="tag-item">
                    <a href="#">All</a>
                  </li>

                </ul>
                <!-- End of Tags -->
              </div>

              <% apis.forEach(function(api, index) { %>

              <div class="list-view ">
                <div class="list-item">
                  <div class="list-item-header">
                    <h3 class="list-item-title">
                      <a href="/detail/<%= api.id %>"><%= api.api_name %></a>
                    </h3>
                    <span class="list-item-meta">
                      <a href="#"><%= api.http_method %></a>
                    </span>
                  </div>
                  <div class="list-item-content"> <%= api.description %> </div>
                </div>
                <% }); %>
                
<%- include('../partials/backend/footer') -%>
